<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>  
总访问量 <span id="busuanzi_value_site_pv"></span> 次 <br>  总访客数 <span id="busuanzi_value_site_uv"></span> 人次 <br>
<!-- <a href="https://clustrmaps.com/site/1blbh"  title="Visit tracker for xyangyan.github.io"><img src="//www.clustrmaps.com/map_v2.png?d=Z8dyJa5Yjz2Z_i_LEAbfY0-TbrPurcZYl5i6ii_5Xbw&cl=ffffff" /></a> -->
<!-- end custom footer snippets -->
